<div class="container bg-dark text-white w-100 mt-5 pt-4 pr-4 pl-4" >
  <div class="mt-lg-5 mb-lg-5">
    <h1 class="text-center mb-3">First N Prime Numbers Multiplication Table</h1>
    <h3 class="text-center mb-3">- Aninoiu Ciprian -</h3>
  </div>
  <div class="mt-2 mb-3" *ngIf="myForm.controls?.myNum">
    <p class="text-center font-weight-bold">Please chose a value for N:</p>
    <div class="justify-content-center align-items-center row mb-3">
      <form [formGroup]="myForm">
        <input type="number" min="0" class="form-control form-input" id="myNum" formControlName="myNum" (keyup.enter)="nChanged()"
               [class.error]="isInvalidControl(myForm.controls['myNum'])">
        <div *ngIf="myForm.controls['myNum'].hasError('min')">
          Minimum allowed value is 1.
        </div>
        <div *ngIf="myForm.controls['myNum'].hasError('max')">
          Maximum allowed value is 500.
        </div>
        <div *ngIf="myForm.controls['myNum'].errors?.pattern">
          Number format not accepted.
        </div>
      </form>
    </div>
    <div class="justify-content-center align-items-center row">
      <button type="button" class="btn btn-primary mt-1 mb-2" (click)="nChanged()">Generate Table</button>
    </div>
    <app-fetch-data [nValue]="n"></app-fetch-data>
  </div>
</div>
